spring:
  application:
    name: spring-ai-erudio-deepseek-ollama
  ai:
    model:
      chat: ollama
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: "deepseek-r1:1.5b"